body {
    background: #3e4170;
}

#area {
    width: 400px;
    aspect-ratio: 1;
    background: #fff;
    margin-top: 100px;
    overflow: hidden;
}

#object {
    background: #ff9d00;
    width: 60px;
    aspect-ratio: 1;
    transform: translateY(-60px);
    position: relative;
}

#object.start {
    animation-name: movement;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* анимация (движения) */
@keyframes movement {
    to {
        transform: translateY(400px);
    }
}